body {
    display: flex;
    justify-content: center;
}

header {
    margin-top: 100px;
}

p {
    font-size: 18px;
    color: whitesmoke;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #707070;
    border-radius: 5px;
}

.header-item {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    border-right: 1px solid black;
}

header div div a img {
    width: 25px;
    height: 25px;
}

.header-item input {
    border-radius: 25px;
    background-image: url('./assets/search.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 7px;
    background-color: #707070;
}

